{% load django_bootstrap5 %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>Muum</title>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block css %}{% endblock css %}
  <link rel="shortcut icon" href="{% static 'css/pngwing.com.png' %}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'image/pngwing.com.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top ms-3">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Home</a>
            <a class="nav-link" href="{% url 'articles:index' %}">영화 게시판</a>
            <a class="nav-link" href="#">취미 게시판</a>
          </div>
          <div>
            {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-center">
              <p class="my-auto mx-2">{{ request.user }}님</p>
              <a href="{% url 'articles:create' %}" class="my-auto mx-2">글쓰기</a>
              <a href="{% url 'accounts:mypage' request.user.pk %}" class="my-auto mx-2">마이페이지</a>
              <a href="{% url 'accounts:logout' %}" class="my-auto mx-2">로그아웃</a>
            </div>
            {% else %}
            <div class="d-flex justify-content-center">
              <a href="{% url 'accounts:signup' %}" class="my-auto mx-2">회원가입</a>
              <a href="{% url 'accounts:login' %}" class="my-auto mx-2">로그인</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% bootstrap_javascript %}
  {% block js %}{% endblock js %}
</body>

</html>