{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      {% for article in articles %}
      <div class="col-md-4 col-sm-6 p-3">
        {% comment %} 이미지 있는 글만 보이게 {% endcomment %}
        {% if article.image %}
        <div class="card card-style grow">
          <a href="{% url 'articles:detail' article.pk %}"><img src="{{ article.image.url }}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <a href="{% url 'articles:detail' article.pk %}" style="color: black;"><h5 class="card-title">{{ article.title }}</h5></a>
            <a href="{% url 'articles:detail' article.pk %}" style="color: black;"><p class="card-text">{{ article.content }}</p></a>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}