{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock css %}

{% block content %}
  <div class="container my-5">
    <h1 class="mb-2">{{ request.user }}님이 북마크한 글</h1>
    <h5 class="mb-4">{{ user.like_articles.count }}개의 게시물</h5>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">영화</th>
            <th scope="col">평점</th>
            <th scope="col">작성일</th>
          </tr>
        </thead>
        <tbody>
          {% for article in user.like_articles.all %}
            <tr>
              <th scope="row" class="align-middle col-md-1">{{ forloop.revcounter }}</td>
              <td class="align-middle col-md-4">
                <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none">{{ article.title }}</a>
              </td>
              <td class="align-middle col-md-2">{{ article.movie_name }}</td>
              <td class="align-middle col-md-2">
                <div class="d-flex align-items-center">
                  {% if article.grade == 0 %}
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 0.5 %}
                    <div class="text-warning bi-star-half"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 1.0 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 1.5 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-half"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 2.0 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 2.5 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-half"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 3.0 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 3.5 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-half"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 4.0 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star"></div>
                  {% elif article.grade == 4.5 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-half"></div>
                  {% elif article.grade == 5.0 %}
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                    <div class="text-warning bi-star-fill"></div>
                  {% endif %}
                </div>
              </td>
              <td class="align-middle col-md-3">{{ article.created_at|date:'Y-m-d a h:i' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}